name: ci_pipeline
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs: 
  ci:
    runs-on: ubuntu-latest

    steps:
      - name : Checkout code
        uses : actions/checkout@v4 

      - name : Steup Node.js 
        uses : actions/setup-node@v4
        with : 
          node-version: 20
      
      - name : Install dependancies
        run : pnpm install --frozen-lockfile

      - name : Run build
        run : pnpm run build 